<section>
<table>
        <tr>
            <th>ID planete</th>
            <th>Nom planete</th>
            <th>Type</th>
            <th>Année de découverte</th>
            <th>Taille</th>
            <th>Atmosphere</th>
        </tr>
        {{#each planetsTable}}
        <tr>
            <td>{{this.planet_id}}</td>
            <td> {{this.unique_name}}</td>
            <td>{{this.type}} </td>
            <td>{{this.discovery_year}} </td>
            <td>{{this.size}}</td>
            <td>{{this.atmosphere}}</td>
        </tr>
        {{/each}}
    </table>
</section>

<section>
    <h1>Ajouter une Planète découverte</h1>
    <form method="post" action="/planets/add">
        <div>
            <label> ID : </label>
            <input type="number" id="idPlanet" name="idPlanet" />
        </div>
        <div>
            <label>Nom de la planète découverte : </label>
            <input type="text" id="uniqueNamePlanet" name="uniqueNamePlanet" />
        </div>
        <div>
            <label>Classe Habitable de l'exoplanète : </label>
            <select id="typePlanet" name="typePlanet">
                <option value="Gazeuse"> Gazeuse</option>
                <option value="Glacée">Glacée</option>
                <option value="Naine">Naine</option>
                <option value="Exotique">Exotique</option>
            </select>
        </div>
        <div>
            <label> Année de découverte : </label>
            <input type="number" min="2000" max="2025" step="1" value="2022" id="discoveryYearPlanet" name="discoveryYearPlanet" />
        </div>
        <div>
            <label> Taille de la planète : </label>
            <input type="number" min="0" max="100" step="1" value="50" id="sizePlanet" name="sizePlanet" />
        </div>
         <div>
            <label>Classe Habitable de la planète : </label>
            <select id="atmospherePlanet" name="atmospherePlanet">
                <option value="Dense"> Dense</option>
                <option value="Ténue">Ténue</option>
                <option value="Sans atmosphère">Sans atmosphère</option>
            </select>
        </div>
        <div>
            <button type="submit" value="Envoyer">
        </div>
    </form>
</section>
<section>
<form  action="/planets/add" method="post">
  <label for="name">Nom :</label>
  <input type="text" id="name" name="name" >

  <label for="email">Email :</label>
  <input type="email" id="email" name="email" >

  <button type="submit">Envoyer</button>
</form>
</section>